html {
  background-color: whitesmoke;
}

#banner {
  background-color: #a4d5d1;
  color: white;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

/* navigation links */
#banner a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 1em;
}

/* body */
body {
  background-color: whitesmoke;
  color: #333;
  font-family: sans-serif;
  margin: 2.5em 4em 4em 4em;
  padding-top: 25px;
}

p {
  padding-left: 75px;
  padding-right: 40px;
}

h1 {
  padding: 0 0 0 25px;
}

h2 {
  border-top: 10px solid #a4d5d1;
  padding: 25px 0 0 25px;
}

h3 {
  padding: 0 0 0 25px;
}

li {
  padding-left: 100px;
  padding-right: 40px;
}

img {
  width: 300px;
  height: auto;
}
