html {
  background-color: whitesmoke;
}

#banner {
  background-color: #a4d5d1;
  color: white;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

/* navigation links */
#banner a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 1em;
}

/* body */
body {
  background-color: whitesmoke;
  color: #333;
  font-family: sans-serif;
  margin: 2.5em 4em 4em 4em;
  padding-top: 25px;
}

p {
  padding-left: 75px;
  padding-right: 40px;
}

h1 {
  padding: 0 0 0 25px;
}

.center {
  text-align: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  border-top: 10px solid #a4d5d1;
  padding: 25px 0 0 25px;
}

h3 {
  padding: 0 0 0 25px;
}

li {
  padding-left: 100px;
  padding-right: 40px;
}

img {
  width: 300px;
  height: auto;
  margin-right: 20px;
}


iframe {
  display: block;
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}

.container {
  display: flex; /* use flex to align items horizontally */
}

.btn-link {
  text-decoration: none;
  color: #fff;
  background-color: #a4d5d1; /* this will add a background color */
  border: none;
  padding: 12px 20px; /* this will add some padding */
  font-size: 16px; /* this will change font size */
  border-radius: 4px; /* this will add rounded corners */
  cursor: pointer; /* this will change cursor on hover */
  text-align: center; /* this will center the text */
}

/* this will change the appearance on hover */
.btn-link:hover {
  background-color: #78d8d0;
}

.btn-link a {
  text-decoration: none;
}

.highlight {
   background-color: #FEC868;
   font-weight: bold;
}
