
html {
  background-color: whitesmoke;
}

#banner {
  background-color: #A4D5D1;
  color: white;
  padding-bottom: 1.5em;
  border-bottom: 10px solid whitesmoke;
}

/* navigation links */
#banner a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 1em;
}

/* body */
body {
  background-color: #A4D5D1;
  color: #333;
  font-family: sans-serif;
  margin: 10px 2em 1em 2em;
  padding: 1em;
}

